body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#title {
    font-size: 5em;
    font-weight: bold;
    color: white;
    text-shadow: black 0.05em 0.05em 0;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: url("../img/cursor.png"), help;
}

#title:hover {
    font-size: 7.5em;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    text-decoration: line-through;
    transform: translate3d(0px, -16px, 0px) rotateX(51deg) rotateZ(43deg);
}